<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RemoveHTML" stopProcessing="true">
                    <match url="(.*)" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
