html, body {
  background-image: linear-gradient(123deg,rgba(86, 97, 255, 1),rgba(111, 118, 216, 1),rgba(0, 198, 148, 1));
  margin:0;
  height:auto;
}
h4, h3 {
  font-size: 12px;
  color:rgba(56, 0, 66, 1);
  line-height: 1.5em;
  font-family: monospace;
}
h2 {
       font-family: monospace;
            font-size: 2em;
            background: linear-gradient(270deg, #00C694, #0075C6, #00C670, #005EC6,#003773,#001730,#000000,#001730,#003773,#005EC6,#00C670, #0075C6, #00C694);
            background-size: 400%;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            animation: moveColors 5s linear infinite;
        }

        @keyframes moveColors {
            0% {
                background-position: 0%;
            }
            50% {
              background-position: 50%;
            }
            100% {
                background-position: 100%;
            }
        }
p {
  font-family: monospace;
  line-height: 1.5em;
  color:rgba(56, 0, 66, 1);
}
        
        .conteiner, h2, h3, p {
          max-width: 1000px;
          margin: 0 auto;
          padding: 20px;
        }
