html, body {
background-color:rgba(0, 0, 0, 1);
color:rgba(43, 255, 56, 1);
}
h1 {
  text-align: center;
  
}
h1, a {
  color:rgba(43, 255, 56, 1);margin-left: 20px;display:inline-flex;
  font-family: monospace;
}
p {
  float:right;
  font-size: 9px;
  font-family: monospace;
  color:rgba(43, 255, 56, 1);margin-left: 20px;
  display: inline-flex;
border-bottom: 1px dashed rgba(255, 0, 0, 1);
}
a {
  font-size: 9px;
    text-decoration: none;
    border-bottom: 1px dashed rgba(240, 255, 0, 1);
  margin-left: 20px;
  display:inline-flex;
}
