body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  /* Espaço entre os campos de pesquisa */
}

@keyframes move-gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

hr {
  margin: 10px 0;
  height: 1px;
  border: none;
  background: linear-gradient(123deg, rgba(255, 235, 0, 1), rgba(255, 0, 0, 1), rgba(36, 255, 0, 1), rgba(36, 255, 0, 1), rgba(255, 0, 0, 1), rgba(255, 235, 0, 1), rgba(255, 235, 0, 1));
  background-size: 200% 100%;
  animation: move-gradient 4s linear infinite;
}

input {
  color: rgba(30, 255, 0, 1);
  background-color: #323232;
  width: 50px;
  height: 20px;
}

input:hover {
  color: rgba(255, 0, 0, 1);
  background-color: #323232;
}
html, body {
background-color:rgba(0, 0, 0, 1);
color:rgba(43, 255, 56, 1);
}
h1 {
  text-align: center;
  
}
h1, a {
  color:rgba(43, 255, 56, 1);margin-left: 20px;display:inline-flex;
  font-family: monospace;
}
p {
  float:right;
  font-size: 9px;
  font-family: monospace;
  color:rgba(43, 255, 56, 1);margin-left: 20px;
  display: inline-flex;
border-bottom: 1px dashed rgba(255, 0, 0, 1);
}
a {
  font-size: 9px;
    text-decoration: none;
    border-bottom: 1px dashed rgba(240, 255, 0, 1);
  margin-left: 20px;
  display:inline-flex;
}
