  * {
    user-select: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  html,
  body {
    background-color: rgba(0, 0, 0, 0.66);
    font-family: 'Courier', Courier, monospace, sans-serif;
    margin: 0;
  }

  table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border: 2px solid rgba(0, 255, 30, 1);
    box-shadow: 0 0 20px rgba(0, 255, 30, 0.5);
    backdrop-filter: blur(10px);
  }

  th {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    color: #FF0000;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 255, 30, 1);
    text-shadow: 0 0 5px rgba(255, 0, 0, 1);
  }

  td {

    background: linear-gradient(90deg, rgba(0, 255, 30, 0.1), rgba(0, 0, 0, 0.7));
    text-align: center;
    color: rgba(0, 255, 30, 1);
    padding: 5px;
    border-bottom: 1px solid rgba(0, 255, 30, 0.5);
    transition: background 0.3s;
  }

  td:hover {
    background: rgba(0, 255, 30, 0.3);
    box-shadow: 0 0 15px rgba(0, 255, 30, 1);
  }

  a {
    color: rgba(0, 255, 30, 1);
    text-decoration: none;
  }

  .search__container {
    text-align: center;
    padding-top: 25px;
    background: url('https://raw.githubusercontent.com/3asyice/Noticias/main/Caso/aeropass/background__top.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    flex: 100%;
    padding-bottom: 50px;
  }

  .input__search {
    width: 300px;
    /* Largura do input */
    padding: 10px;
    /* Espaçamento interno */
    font-size: 18px;
    /* Tamanho da fonte */
    border: 1px solid #ccc;
    /* Borda */
    border-radius: 24px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
    transition: box-shadow 0.3s;
    /* Transição suave para a sombra */
  }

  .input__search[type="text"]:focus {
    outline: none;
    /* Remove o contorno padrão */
    border-color: #4285f4;
    /* Cor da borda ao focar */
    box-shadow: 0 4px 12px rgba(66, 133, 244, 0.5);
    /* Sombra mais forte ao focar */
  }

  footer {
    background: #000000;
    text-align: center;
    color: #27FF00;
    padding: 20px;
  }

  .info {
    background-color: #000000A1;
    color: #fff;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    margin-left: 10%;
    font-size: 12px;
    width: 50%;
    text-align: justify;
    hyphens: auto;
    flex-wrap: row wrap;
    z-index: 998;
    display: none;
  }

  .login {
    position: fixed;
    background-color: #1C1C1C;
    background-size: cover;
    background-attachment: scroll;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    display: block;
    height:cover;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
  }

  section form {
    padding: 0;
    margin-top: 0;
    width: 100%;
  }

  form {
    margin-top: 0;
    border-radius: 20px;
    background: #000000C9;
    text-align: center;
    box-sizing: border-box;
    color: #00FF04;
  }

  input {
    margin: 20px;
    background: #2D2D2D;
    color: #00FF04;
    font-family: 'Courier', sans-serif;
    width: 80%;
    padding: 14px 16px;
    border-radius: 15px;
    border: none;
  }

  input:focus {
    border: none;
    outline: 1px solid #00FF04;
  }

  .submit__btn {
    width: 50%;
    background: #000000;
    color: #00D704;
    font-weight: 800;
    padding: 7px;
    border: 2px solid #00D704;
  }

  .submit__btn:focus {
    outline: none;
  }

  .submit__btn:hover {
    color: #FF0000;
    border: 2px solid #FF0000;
  }

  .accessGranted {
    height: 60px;
    width: 150px;
    display: none;
    z-index: 999;
    position: fixed;
    /* Mudei para fixed para centralizar em relação à janela */
    top: 40%;
    /* Posiciona a partir do topo */
    left: 50%;
    /* Posiciona a partir da esquerda */
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border: 2px solid rgba(3, 255, 0, 1);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(3, 255, 0, 1);
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
  }

  .messageError {
    height: 60px;
    width: 150px;
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border: 2px solid rgba(3, 255, 0, 1);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgba(3, 255, 0, 1);
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
  }

  @media (max-width: 600px) {
    .input__search {
      width: 90%;
    }

    .search__container {
      height: auto;
      padding: 20px;
    }

    footer {
      font-size: 14px;
    }

    .info {
      width: 90%;
      border: 1px solid #00ff00;
      margin-left: 5%;
      bottom: 15%;
    }

    .login {
      height: cover;
    }

    input {
      width: 95%;
    }

    .submit__btn {
      width: 80%;
    }
  }

  /* Para telas médias (tablets) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .input__search {
      width: 70%;
  }

    .search__container {
      height: 60%;
    padding: 40px;
    }

    footer {
      font-size: 16px;
  }
    .info {
      width: 70%;
      margin-left: 15%;
    }

    input {
      width: 90%;
      }

    .submit__btn {
      width: 70%;
    }
  }

  @media (min-width: 1025px) {
    section form {
      padding: 10%;
      width: 30%;
      background:#FFE700;
      margin:0 auto;
    }

    form {
    margin-top: 0%;
    border-radius: 20px;
    background: #000000C9;
    text-align: center;
    box-sizing: border-box;
    color: #00FF04;
    padding: 20px;
}

input {
    width: 80%; /* Mantenha a largura consistente */
    padding: 14px 16px; /* Adequar o padding */
}

.submit__btn {
    width: 60%;}

    .input__search {
      width: 10%;
    }

    .search__container {
      height: 30%;
      padding: 30px;
    }

    footer {
      font-size: 18px;
    }

    .info {
      width: 50%;
      margin-left: 25%;
    }
  }
