    * {
      user-select: none;
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0;
      background: #101010;
      overflow-y: scroll;
    }

    .title {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      color: #97FFFC;
      font-family: 'Times New Roman', Times, serif;
      flex: 100%;
      padding: 50px;
      margin: 0;
      animation: blinking__text 1s infinite linear;
      border-bottom: 1px solid #198582;
    }

    .title:hover {
      color: red;
      animation: blinking__hovr 1s infinite linear;
    }

    @keyframes blinking__hovr {
      0% {
        text-shadow: 1px 1px 1px #B70000;
      }

      25% {
        text-shadow: 1px 1px 12px #B70000;
      }

      50% {
        text-shadow: 1px 1px 24px #B70000;
      }

      75% {
        text-shadow: 1px 1px 12px #B70000;
      }

      100% {
        text-shadow: 1px 1px 1px #B70000;
      }
    }

    @keyframes blinking__text {
      0% {
        text-shadow: 1px 1px 1px #C3FFFD;
      }

      25% {
        text-shadow: 1px 1px 12px #C3FFFD;
      }

      50% {
        text-shadow: 1px 1px 24px #C3FFFD;
      }

      75% {
        text-shadow: 1px 1px 12px #C3FFFD;
      }

      100% {
        text-shadow: 1px 1px 1px #C3FFFD;
      }
    }

    p {
    
      color: #C5FFFD;
      font-size: 12px;
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
    }

    #definition {
      display: none;
      text-align: justify;
      hyphens: auto;
      margin: 0;
      line-height: 1.5rem;
      border-bottom: 1px solid #198582;
      border-left: 3px solid #00FFF8;
      border-right: 3px solid #00FFF8;
      padding-right: 5%;
      padding-left: 5%;
      flex: 90%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      /* Ajuste o tamanho conforme necessário */
      overflow: hidden;
      /* Para esconder partes que saem da tela durante a animação */
    }

    .letter {
      display: inline-block;
      transform-origin: center;
      /* Define o ponto de origem para a rotação */
      animation: spin 1s infinite;
      /* Animação em loop */
    }

    @keyframes spin {
      0% {
        transform: rotateX(0deg);
      }

      25% {
        transform: rotateY(90deg);
        /* Rotaciona para a direita */
      }

      50% {
        transform: rotateX(180deg);
        /* Rotaciona para baixo */
      }

      75% {
        transform: rotateY(-90deg);
        /* Rotaciona para a esquerda */
      }

      100% {
        transform: rotateX(0deg);
        /* Retorna à posição inicial */
      }
    }

    footer {
      background: #000000;
      padding: 20px;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    footer p {
      text-align: center;
    }

    h2 {
      font-family: 'Times New Roman', Times, serif;
      color: #ff0000;
      margin: 0;
      font-size: 14px;
      border-bottom: 1px solid #198582;
      border-left: 3px solid #00FFF8;
      border-right: 3px solid #00FFF8;
      text-transform: uppercase;
      background: #1E0930;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 15px;
      padding-bottom: 15px;
      flex: 100%;
    }

    .nuclear__codes {
      font-family: 'Times New Roman', Times, serif;
      color: #ff0000;
      margin: 0;
      font-size: 14px;
      border-top: 1px solid #FF0000;
      border-bottom: 1px solid #FF0000;
      border-left: 3px solid #ff0000;
      border-right: 3px solid #ff0000;
      text-transform: uppercase;
      background: #DBD49D;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 15px;
      padding-bottom: 15px;
      flex: 100%;
    }

    .article {
      text-indent: 12px;
      text-align: justify;
      hyphens: auto;
      margin: 0;
      line-height: 1.5rem;
      border-left: 3px solid #00FFF8;
      border-right: 3px solid #00FFF8;
      padding-right: 5%;
      padding-left: 5%;
      flex: 90%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .article_2 {
      text-indent: 12px;
      text-align: justify;
      hyphens: auto;
      margin: 0;
      line-height: 1.5rem;
      border-left: 3px solid #ff0000;
      border-right: 3px solid #ff0000;
      padding-right: 5%;
      padding-left: 5%;
      flex: 90%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    article.article_2 p{
      color:#DBD49D;
    }

    section div {
      background: #000000;
      border-left: 3px solid #00FFF8;
      border-right: 3px solid #00FFF8;
    }

    div p {
      flex: 70%;
      margin-left: 20%;
      margin-right: 10%;
      color: #FFFFFF;
      font-family: sans-serif;

    }

    p.author {
      padding-bottom: 10px;
      color: #606060;
    }

    div .youtube,
    .image {
      color: #FFFFFF;
      background: #7A1FA2;
      border: transparent;

    }

    span.image {
      position: absolute;
      font-size: 24px;
      display: flex;
      margin-left: 5%;
      margin-top: 1%;
      width: 14px;
      height: 14px;
      padding: 20px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
