git add .htaccess
git commit -m "Adiciona o arquivo .htaccess para configuração do servidor"
git push origin main


RewriteEngine On

# Redirecionar URLs com .html para sem .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirecionar URLs antigas com .html para novas sem .html
RewriteCond %{REQUEST_URI} ^(.+)\.html$
RewriteRule ^ %1 [R=301,L]
