html, body {
  margin:0;
  
  
}
  button {
    background-color: rgba(0, 162, 255, 1);
    color:rgba(255, 255, 255, 1);
  }
  .horizontal-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .number-div {
    padding: 10px;
    border: 1px solid #000;
    margin: 0 2px;
    width: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Aplicando cores alternadas usando nth-child */
  .number-div:nth-child(3n+1) {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }
  
  .number-div:nth-child(3n+2) {
    background-color: rgba(67, 0, 0, 1);
    color: rgba(240, 255, 0, 1);
  }
  
  .number-div:nth-child(3n) {
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.42);
    color:white;
  }
  h1 {
    text-align: center;
    margin:0;
  }
  header {
    display:fixed;
    letter-spacing: -0.5px;
    background-color: rgba(255, 255, 255, 0.5)
   ; text-align:justify;
   
  }
  .img-1 {
    align-self: flex-start;
    float:left;
   margin-top:15px;
   margin-left:20px;
   margin-bottom:10px;
     }
  .align {
    text-align: flex-start;
    margin-left:25px;
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
    font-family: 'Merriweather', serif;
  }
  .casos {
    font-family:'Merriweather', serif;
    font-size: 16px;
    font-weight: bolder;
    line-height: 2em;
    display:block;
    margin:170px;
    text-align: center;
    margin-top:51px;
    background-color: rgba(0, 22, 57, 0.61);
    border: 5px solid rgba(0, 0, 0, 0.61);
  }
  
  .b {
    color:rgba(255, 255, 255, 0.1);
    top:0;bottom:0;left:0;right:0;
    position:fixed;
    display:none;
    background-color:rgba(102, 102, 102, 1)
   ;}
  .z {
    color:rgba(255, 255, 255, 0.1);
    top:0;bottom:0;left:0;right:0;
    position:fixed;
    display:none;
    background-image: linear-gradient(123deg,rgba(111, 111, 111, 1),rgba(59, 59, 59, 1),rgba(0, 0, 0, 1));
  }
  p {
    font-size: 14px;
    margin-left:20px;margin-right:20px;
  font-family: 'Merriweather', serif;
  font-weight: normal;text-align: inline;

  }
  details, summary {
    text-decoration: none;
    text-align: left;
    list-style:none;
  }
  .h4-red{
    margin:0;
    margin-top:5px;
    text-shadow: 1px 1px 2px rgba(178, 39, 39, 1);
    font-weight: 900;
    float:left;
    margin-left:15px;
    color:rgba(178, 39, 39, 1);
    font-family: 'Merriweather', serif;
  }
  .or {
    margin-top:5px;
    text-shadow: 1px 1px 2px rgba(216, 81, 0, 1);
    font-weight: 900;
    float:left;
    margin-left:15px;
    color:rgba(216, 81, 0, 1);
    font-family: 'Merriweather', serif;
  }
 
  h2 {
    color:rgba(0, 0, 0, 1);
    margin-left:15px;

    letter-spacing: -0.5px;
    font-family:'Merriweather', serif;
    font-weight: 900px;
    font-stretch: 2em;
  }
  h3 {
    color:rgba(0, 0, 0, 1);
    margin-left:15px;
    letter-spacing: -0.5px;
    font-family:'Merriweather', serif;
    font-weight: 900px;
    font-stretch: 2em;
  }
  h5 {
    color:rgba(255, 255, 255, 1);
    font-family: 'Merriweather', serif;
  }
  h1 {
    margin:0;
    font-weight: bold;
    float:left;
    margin-left:15px;
    color:rgba(0, 0, 0, 1);
    font-family: 'Merriweather', serif;
  }
  hr {
    background-color:rgba(255, 0, 0, 1);margin:4px;
  }
  .p-date {
    font-size: 12px;
    font-family:'Merriweather', serif; 
  }
  .a {
    display:inline-block;
    margin:0;
    padding-top:0;
    text-align: top;
    padding:0;
  }
  .p-share {
  border: 1px solid #000000;
  border-radius: 20px;
  padding:5px;
  float:left;
  display:flex;
  color:rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  }
  .p-share:hover {
    border: 1px solid #000000;
  border-radius: 20px;
  padding:5px;
  display:flex;
  float:left;
  display:flex;
  color:rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 1);
 
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
